[defaults]
host_key_checking = False
timeout = 30
gathering = smart
retry_files_enabled = False
roles_path = ./06_Ansible_Roles
inventory = ./04_Ansible_Design/Inventory/production_hosts.yml

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
