# ntp.conf.j2
# Managed by Ansible
# Generated: {{ ansible_date_time.iso8601 }}

driftfile /var/lib/ntp/ntp.drift
statsdir /var/log/ntpstats/

leapfile /usr/share/zoneinfo/leap-seconds.list

{% for server in ntp_servers %}
server {{ server }} iburst
{% endfor %}

restrict -4 default kod notrap nomodify nopeer noquery
restrict -6 default kod notrap nomodify nopeer noquery

restrict 127.0.0.1
restrict ::1
